# Project Notebook 
This notebook is going to be utilized for my midterm/final project. My project research question is, how does educational attainment impact povety levels across different demographic groups? My theory is communities that have higher educational attainment will also have higher income. Communities with lower educational attainment will have lower incomes, many in poverty levels. My theory also indicates nonwhite residents will have lower educational attainment, hence lower income. The implications of specific demographic groups having less accessibility to educational opportunities creating a devasting cycle of poverty can allow for clear recommendations in resources for fair accessibility.

In [19]:
import geopandas as gpd
import matplotlib.pyplot as plt

In [23]:
!pip install mapclassify

Requirement already satisfied: mapclassify in /opt/anaconda3/lib/python3.13/site-packages (2.10.0)
Requirement already satisfied: networkx>=3.2 in /opt/anaconda3/lib/python3.13/site-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.26 in /opt/anaconda3/lib/python3.13/site-packages (from mapclassify) (2.1.3)
Requirement already satisfied: pandas>=2.1 in /opt/anaconda3/lib/python3.13/site-packages (from mapclassify) (2.2.3)
Requirement already satisfied: scikit-learn>=1.4 in /opt/anaconda3/lib/python3.13/site-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.12 in /opt/anaconda3/lib/python3.13/site-packages (from mapclassify) (1.15.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.1->mapclassify) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.1->mapclassify) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.1->mapclassify) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=2.1->mapclassify) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.4->mapclassify) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.4->mapclassify) (3.5.0)

In [21]:
censustracts=gpd.read_file('LACountyTracts24.zip')

In [22]:
censustracts.head()

,ID,NAME,STATE_NAME,ST_ABBREV,AREA,TOTPOP_CY,HHPOP_CY,GQPOP_CY,POPDENS_CY,TOTHH_CY,...,NHSPWHT__1,NHSPBLK__1,NHSPAI_CY_,NHSPASN__1,NHSPPI_CY_,NHSPOTH__1,NHSPMLT__1,HSGRAD_LES,BACHDEG_PL,geometry
0,06037262302,060372623.02,California,CA,1.182838,2782,2765,17,2352.0,1141,...,79.295471,1.042416,0.000000,6.506111,0.000000,1.006470,5.140187,0.824043,83.131362,"POLYGON ((-13187629.788 4038588.873, -13187642..."
1,06037206201,060372062.01,California,CA,0.077543,2863,2202,661,36941.9,1262,...,20.852253,16.590988,1.012924,28.815927,0.419141,0.838282,4.680405,9.677419,45.822994,"POLYGON ((-13162511.881 4035572.196, -13162582..."
2,06037128102,060371281.02,California,CA,0.250507,4755,4521,234,18982.0,1479,...,18.401682,5.005258,0.042061,5.615142,0.147213,0.672976,1.451104,25.774135,17.941712,"POLYGON ((-13184678.486 4053894.2, -13184921.4..."
3,06037131701,060371317.01,California,CA,0.254699,4591,4575,16,18025.1,1741,...,23.175779,5.968199,0.174254,21.367894,0.043563,0.588107,3.724679,17.841079,34.002999,"POLYGON ((-13197317.144 4055820.492, -13197556..."
4,06037232800,060372328.00,California,CA,0.164729,3927,3858,69,23843.4,968,...,0.993125,12.554113,0.254647,0.611154,0.000000,0.891266,1.120448,43.775763,10.634790,"POLYGON ((-13166681.241 4028231.101, -13166681..."

In [24]:
# columns to keep 
columns_to_keep = ['ID','HISPPOP_CY', 'NHSPWHT_CY', 'NHSPBLK_CY', 'NHSPAI_CY', 'NHSPASN_CY', 'DIVINDX_CY', 'NOHS_CY','SOMEHS_CY', 'HSGRAD_CY', 'GED_CY', 'SMCOLL_CY', 'ASSCDEG_CY', 'BACHDEG_CY', 'GRADDEG_CY', 'EDUCBASECY', 'HINC0_CY', 'HINC15_CY', 'HINC25_CY', 'HINC35_CY', 'HINC50_CY', 'HINC75_CY', 'HINC100_CY', 'HINC150_CY', 'HINC200_CY','geometry']

In [26]:
# creating a new dataframe with the columns i want to keep 
tractsCleaned = censustracts[columns_to_keep]

In [28]:
tractsCleaned.columns = ['FIPS,'HIS', WHITEâ€™, 'BLACK','AMERICAN INDIAN', 'ASIAN', 'DIVERSITYâ€™,'NOHS','SOMEHS', 'HSGRAD', 'GED', 'SOMECOLL', 'ASSDEGâ€™,'BACH','GRAD','EDUCBASE', 'LESS15', '15-24', '25-34', '35-49', '50-74', '75-99', '100-149â€™, '150-199', '200MORE','geometry']

SyntaxError: invalid character 'â€™' (U+2019) (2677629162.py, line 1)